$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$dusty-blue: #369;
$amurrican-red: #933;
$plain-white: #fff;
$background-shadow: #036;
$lighter-blue: #69c;


body {
  background-color: $dusty-blue;
  width: 100%;
}

.thin-red-stripe {
  background-color: $amurrican-red;
  height: 20px;
  width: 100%;
}

.med-white-stripe {
  background-color: $plain-white;
  height: 20px;
  width: 100%;
}

.med-red-stripe {
  background-color: $amurrican-red;
  color: $plain-white;
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 40px;
  line-height: 60px;
  margin: auto;
  min-height: 60px;
  padding: 0;
  text-align: center;
  width: 100%;
}



.square {
  background-color: $plain-white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px $background-shadow;
  float: left;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  text-align: center;
  width: 100px;
}

//top, middle, and bottom classes clear the floats to create the separate rows
.top {
  float: left;
}

.middle {
  clear: left;
  float: left;
}

.bottom {
  clear: left;
  float: left;
}

#new-campaign {
  background-color: $amurrican-red;
  border-radius: 8px;
  box-shadow: 5px 5px 5px $background-shadow;
  clear: left;
  color: $plain-white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 100px;
  line-height: 100px;
  margin: 10px 0 0 20px;
  text-align: center;
  width: 313px;
}

#new-campaign:hover {
  cursor: default;
}

.right-column {
  display: inline-block;
}

#scoreboard {
  background-color: $lighter-blue;
  border-radius: 8px;
  box-shadow: 5px 5px 5px $background-shadow;
  clear: left;
  height: 210px;
  line-height: 200px;
  margin: 5px 0 0 20px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 310px;
}

#xoxo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gameboard {
  margin: 20px 5% 1% 0;
}

.centering {
  margin: 0 auto;
  width: 700px;
}

.stripes {
  box-shadow: 5px 5px 5px $background-shadow;
}

.profile-pic {
  border-radius: 8px;
  height: 110px;
  margin: 13px;
  width: 110px;
}

.candidate {
  float: left;
  height: 100px;
  line-height: 50px;
  margin: 2%;
}

.wins {
  color: $plain-white;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  height: 20px;
  width: 20px;
}

img {
  border-radius: 8px;
}

#hillary-win {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

#bernie-win {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1; }

#trump-draw {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}

.btn-primary {
  background-color: lighten($amurrican-red, 10%);
  border: 0;
  font-family: Arial;
  padding: 5px;
}

.button-container {
  border-radius: 8px;
  border: solid $plain-white 2px;
  left: 10px;
  position: absolute;
  top: 50px;
}

@media (max-width: 720px) {
  .med-red-stripe {
    font-size: 20px;
  }

  .button-container {
    border-style: none;
    position: relative;
  }

  .square {
    height: 60px;
    width: 60px;
  }

  .gameboard {
    float: clear;
    height: 200px;
  }

  .btn-primary {
    background-color: $lighter-blue;
  }

  .centering {
    width: 230px;
  }

  #scoreboard {
    width: 100%;
  }

  .profile-pic {
    height: 40px;
    margin: 5px;
    width: 40px;
  }

  #hillary-profile {
    height: 60px;
    width: 60px;
  }
}
