.square {
  background-color: #808080;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #666;
  float: left;
  height: 80px;
  line-height: 80px;
  margin: 5px;
  text-align: center;
  width: 80px;
}

//top, middle, and bottom classes clear the floats to create the separate rows
.top {
  float: left;
}

.middle {
  clear: left;
  float: left;
}

.bottom {
  clear: left;
  float: left;
}

#new-campaign {
  background-color: #933;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #666;
  clear: left;
  height: 30px;
  line-height: 30px;
  margin: 5px;
  text-align: center;
  width: 160px;
}

#new-campaign:hover {
  cursor: default;
}

.scorekeeping {
  display: inline-block;
  margin: 20px;
}

#scoreboard {
  background-color: #933;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #666;
  clear: left;
  height: 200px;
  line-height: 200px;
  margin: 5px;
  text-align: center;
  width: 160px;
}




#background2 {
//saved for later inset background
}

#xoxo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gameboard {
  width: 270px;
}
