$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$dusty-blue: #336699;

//header apppearance
body {
  background-color: #336699;
  width: 100%;
}

.thin-red-stripe {
  width: 100%;
  height: 20px;
  background-color: #993333;
}

.med-white-stripe {
  width: 100%;
  height: 20px;
  background-color: #FFFFFF;
}

.med-red-stripe {
  width: 100%;
  min-height: 60px;
  background-color: #993333;
  font-size: 40px;
  font-family: Arial Black, Gadget, sans-serif;
  color: white;
  line-height: 60px;
  text-align: center;
  margin: auto;
  padding: 0;
}



.square {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #003366;
  float: left;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  text-align: center;
  width: 100px;
}

//top, middle, and bottom classes clear the floats to create the separate rows
.top {
  float: left;
}

.middle {
  clear: left;
  float: left;
}

.bottom {
  clear: left;
  float: left;
}

#new-campaign {
  background-color: #933;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #003366;
  clear: left;
  height: 100px;
  margin: 10px 0 0 20px;
  text-align: center;
  width: 313px;
  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}

#new-campaign:hover {
  cursor: default;
}

.right-column {
  display: inline-block;
}

#scoreboard {
  background-color: #6699cc;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #003366;
  clear: left;
  height: 210px;
  line-height: 200px;
  margin: 5px 0 0 20px;
  text-align: center;
  width: 310px;
  padding: 5px;
  position: relative;
}

#xoxo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.gameboard {
  margin: 20px 5% 1% 0;
}

.centering {
    width: 700px;
    margin: 0 auto;
}

.stripes {
  box-shadow: 5px 5px 5px #003366;
}

.profile-pic {
  width: 110px;
  height: 110px;
  margin: 13px;
  border-radius: 8px;

}

.candidate {
  margin: 2%;
  float: left;
  height: 100px;
  line-height: 50px;
}

.wins {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #FFFFFF;
  height: 20px;
  width: 20px;
  display: inline;
}

img {
  border-radius: 8px;
}

#hillary-win {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#bernie-win {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

#trump-draw {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.btn-primary {
  background-color: lighten(#993333, 10%);
  border: 0px;
  padding: 5px;
  font-family: Arial;
}

.button-container {
  position: absolute;
  top: 50px;
  left: 10px;
  border: solid white 2px;
  border-radius: 8px;
}

@media (max-width: 720px) {
  .med-red-stripe {
    font-size: 20px;
  }
  .button-container {
    position: relative;
    border-style: none;
  }

  .square {
    height: 60px;
    width: 60px;
  }

  .gameboard {
    height: 200px;
    float: clear;
  }

  .btn-primary {
    background-color: #6699cc;
  }

  .centering {
    width: 230px;
  }
  #scoreboard {
    width: 100%;
  }

  .profile-pic {
    height: 40px;
    width: 40px;
    margin: 5px;
  }

  #hillary-profile {
    height: 60px;
    width: 60px;
  }
}
